* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to right, rgba(22, 19, 19, 0.5), rgba(155, 153, 153, 0.4)), url(../img/doek.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh; }

.main {
  position: relative; }

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.voorstelling {
  margin-top: 4rem;
  font-size: 1.6rem;
  width: 50%; }
  @media only screen and (max-width: 37.5em) {
    .voorstelling {
      width: 70%; } }

/*arrow*/
.arrow {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
  border: solid 1px;
  border-radius: 50%;
  box-shadow: 0.5rem 1.5rem 2rem rgba(0, 0, 0, 0.6);
  transition: all 2s; }
  .arrow:hover {
    animation: jump 1s infinite;
    box-shadow: 0rem 1.3rem 1.7rem rgba(0, 0, 0, 0.7); }
  .arrow__link {
    color: white;
    text-decoration: none; }

/*spotlights*/
@media only screen and (max-width: 37.5em) {
  .spotlight {
    visibility: hidden; } }

.spotlight__spotlight1 {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 2rem 2rem 2rem rgba(5, 5, 5, 0.5);
  animation: spot 10s infinite alternate-reverse; }
  @media only screen and (max-width: 37.5em) {
    .spotlight__spotlight1 {
      animation: none; } }

.spotlight__spotlight2 {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -2rem 2rem 2rem rgba(5, 5, 5, 0.5);
  animation: spot2 8s infinite alternate-reverse; }
  @media only screen and (max-width: 37.5em) {
    .spotlight__spotlight2 {
      animation: none; } }

/*index2*/
/*header*/
.header {
  display: flex; }

.navigation {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-image: linear-gradient(to right, rgba(94, 44, 44, 0.4), rgba(51, 12, 12, 0.4)); }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      justify-content: space-between; } }
  .navigation__list {
    display: flex;
    list-style: none; }
  .navigation__item {
    padding: 2rem;
    font-size: 1.3rem;
    position: relative;
    transition: all .2s; }
    .navigation__item:hover {
      transform: scale(1.2) rotate(5deg); }
    @media only screen and (max-width: 37.5em) {
      .navigation__item {
        font-size: 1.5rem;
        padding: 1.9rem; } }
  .navigation__link {
    position: relative;
    color: white;
    text-decoration: none;
    padding: .3rem; }
  .navigation__social {
    display: flex;
    align-self: flex-end;
    margin-bottom: .5rem; }
    .navigation__social-img {
      margin-right: .5rem;
      width: 2rem;
      height: 2rem; }
    .navigation__social-img2 {
      width: 2rem;
      height: 2rem; }

.woordvooraf {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-left: 25%;
  margin-bottom: 25rem;
  font-size: 2rem;
  width: 50%;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .woordvooraf {
      margin-left: 0;
      width: 100%; } }

.hoofdtitel {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 10rem; }

.blogtitel {
  text-align: center;
  font-size: 1.4rem; }

.blogvb {
  border-radius: 3px;
  margin-left: 25%;
  width: 50%;
  margin-top: 5rem;
  display: flex;
  border: 1px solid;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 1rem 1.5rem 2rem rgba(0, 0, 0, 0.6);
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .blogvb {
      flex-direction: column;
      align-self: center;
      width: 70%;
      margin-left: 0;
      align-items: center; } }
  @media only screen and (max-width: 37.5em) {
    .blogvb {
      flex-direction: column;
      width: 100%;
      margin-left: 0;
      align-items: center; } }
  .blogvb:hover {
    background-color: rgba(146, 146, 146, 0.6);
    transform: scale(1.1);
    box-shadow: 1.3rem 2rem 2.3rem rgba(0, 0, 0, 0.4); }

.beelden__afbeeldingen {
  margin-left: 1rem;
  display: block;
  border-radius: 3px; }
  @media only screen and (max-width: 37.5em) {
    .beelden__afbeeldingen {
      margin-bottom: 2rem; } }
  .beelden__afbeeldingen-3 {
    width: 20rem;
    height: 20rem; }

.verhalen {
  margin-left: 2rem;
  font-size: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .verhalen {
      margin-top: 2rem;
      padding-top: 3rem;
      border-top: solid 1px; } }

.theatre {
  text-align: center; }
  .theatre__image {
    margin-top: 10rem;
    height: 50rem;
    width: 45rem;
    border-radius: 10px; }
  .theatre__caption {
    font-size: 2rem; }

.contact {
  margin-top: 15rem;
  font-size: 1.4rem;
  text-align: center; }
  .contact__link {
    color: inherit; }

.video {
  text-align: center;
  margin-top: 15rem; }

@keyframes jump {
  0% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(0); } }

@keyframes spot {
  0% {
    margin-left: 20%; }
  20% {
    margin-top: 15rem;
    margin-left: 15rem; }
  40% {
    margin-top: 50rem;
    margin-left: 25rem; }
  60% {
    margin-left: 75rem; }
  100% {
    margin-bottom: 50rem; } }

@keyframes spot2 {
  0% {
    margin-left: 80%; }
  20% {
    margin-top: 15rem;
    margin-right: 15rem; }
  40% {
    margin-top: 50rem;
    margin-right: 25rem; }
  60% {
    margin-right: -75rem; }
  100% {
    margin-bottom: 80%;
    margin-right: 50%;
    @media only screen and (max-width: 37.5em) {
      margin-bottom: 30%;
      margin-right: 30%; } } }

@keyframes jump {
  0% {
    transform: translateY(1rem);
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.6); }
  100% {
    transform: translateY(0);
    box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, 0.4); } }

@keyframes point {
  0% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0); } }

.headings {
  font-family: 'The Nautigal', cursive;
  font-size: 5rem; }

.logos {
  height: 5rem;
  width: 5rem; }
  .logos__img {
    height: 5rem;
    width: 5rem; }

.header1 {
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-left: 2rem;
  margin-top: 5.5rem; }

.reviews-heading {
  font-size: 1.8rem;
  margin: 4rem 0;
  display: flex;
  align-self: center; }

.body {
  background-image: none;
  position: relative;
  background-position: center;
  background-attachment: fixed;
  color: black; }
  .body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10000;
    background: linear-gradient(to right bottom, rgba(116, 116, 116, 0.5), rgba(116, 116, 116, 0.5)), url(../img/doek5.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

.container {
  display: flex;
  flex-direction: column; }

.footer {
  height: 50vh;
  margin-top: 10rem;
  background-image: url(../img/rope2-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      height: 30vh;
      margin-top: 5rem; } }

.copy {
  padding-top: 40vh;
  padding-left: 20rem;
  font-size: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .copy {
      padding-top: 20vh;
      padding-left: 15rem; } }
  .copy__link {
    color: inherit; }

.meerlezen {
  margin-top: 10rem;
  float: right; }
  .meerlezen__link {
    text-decoration: none;
    color: inherit;
    border-bottom: solid 1px; }
  .meerlezen:hover {
    animation: point .8s infinite alternate-reverse; }

.arow {
  display: flex;
  align-items: center;
  margin-top: 7rem;
  margin-left: 47%;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(177, 163, 163, 0.8);
  animation: jump 1s infinite alternate-reverse; }
  .arow__link {
    color: inherit;
    text-decoration: none;
    padding: 2rem; }
  .arow:hover {
    background-color: rgba(247, 157, 202, 0.473); }

.btn {
  margin-top: 1.5rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  cursor: pointer; }

.roland2 {
  height: 25rem;
  width: 20rem;
  position: absolute;
  z-index: -5000;
  border-radius: 4px;
  margin-top: 45rem;
  margin-left: -30rem;
  opacity: .6; }

.blog__content {
  margin-top: 15rem;
  text-align: center; }

.blog__header-blog {
  font-size: 2rem; }

.blog__post {
  font-size: 1.7rem;
  padding: 2rem 40rem 0 40rem; }
  @media only screen and (max-width: 56.25em) {
    .blog__post {
      padding: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .blog__post {
      padding: 2rem; } }

.blog__img {
  margin-top: 5rem;
  height: 25rem;
  width: 20rem;
  border-radius: 3px; }

.column {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 15rem; }

.form {
  display: flex;
  text-align: center;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .form {
      flex-direction: column; } }
  .form__form {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    margin-bottom: 10rem;
    margin-left: 1.5rem;
    font-size: 1.4rem; }
    @media only screen and (max-width: 37.5em) {
      .form__form {
        margin-left: 0; } }
  .form__text {
    margin-top: 1.5rem; }
  .form__input {
    width: 100%;
    background-color: rgba(253, 246, 246, 0.2);
    border: none;
    border-bottom: 1px solid #fff; }
    @media only screen and (max-width: 37.5em) {
      .form__input {
        width: 100%; } }
  .form__reacties {
    height: 300px;
    overflow-y: scroll; }
    .form__reacties-comment {
      width: 50rem;
      background-color: rgba(184, 166, 250, 0.425);
      border-radius: 3px;
      border: 1px solid;
      margin-right: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .form__reacties-comment {
          margin: 0;
          padding-bottom: 2rem;
          font-weight: bolder; } }

.list-item > p {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: .8rem 2rem; }

.list-item > li {
  text-transform: uppercase;
  padding-top: 2rem;
  color: rgba(2, 2, 2, 0.7); }
  .list-item > li:not(:first-child) {
    border-top: 1px solid; }
